body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 15px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

input {
  background: #1e293b;
  color: white;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}

.room {
  background: #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
}

#chat {
  background: #020617;
  border-radius: 12px;
  padding: 10px;
  height: 60vh;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 13px;
}

.owner {
  color: #facc15; /* KUNING OWNER */
  font-weight: 700;
  font-size: 12px;
  margin-left: 6px;
}

.text {
  font-size: 14px;
  margin-top: 2px;
}
